@model IEnumerable<T32_TraineeGrant.AdminReportsOther>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>
<h4>
   Other Presentations<br />
    @ViewBag.projname<br />
    @ViewBag.Lastname @ViewBag.firstname
</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Grant
            </th>
            <th>
                Trainee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Trainingrecordid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buid)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Expr1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)  @Html.DisplayFor(modelItem => item.Firstname)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
        </tr>
}
    </tbody>
</table>
