@model IEnumerable<T32_TraineeGrant.AdminReportsPatent>

<h4>
    Patents<br />
 </h4>
<a class="link-opacity-100" href="~/Admin/index">Back to menu</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Grant
            </th>
            <th>
                Trainee
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Personid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainingrecordid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateissued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Expr1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)  @Html.DisplayFor(modelItem => item.Firstname)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainingrecordid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateissued)
            </td>
            <td>
               @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#myTable').DataTable({
                "processing": true,
                "deferRender": true,
                "pageLength": 100
            });




        });


    </script>
}

