@model T32_TraineeGrant.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orcidid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orcidid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citizenship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Positionother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Positionother)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceptedpredoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceptedpredoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
