@model IEnumerable<T32_TraineeGrant.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Trainees</h1>
<a class="link-opacity-100" href="~/Admin/index">Back to menu</a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orcidid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizenship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positionother)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acceptedpredoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaveofabsence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Woman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultymentor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yearsposition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateadded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcidid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citizenship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positionother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acceptedpredoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leaveofabsence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultymentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yearsposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateadded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#myTable').DataTable({
                "processing": true,
                "deferRender": true,
                "pageLength": 100
            });




        });


    </script>
}

