@model T32_TraineeGrant.TrainingRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainingRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Researchfaculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Researchfaculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainingstartmm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainingstartmm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainingstartyy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainingstartyy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainingendmm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainingendmm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainingendyy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainingendyy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stilltrainee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stilltrainee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statusother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statusother)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presentations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presentations)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
