@model IEnumerable<T32_TraineeGrant.TrainingRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Training Grants</h1>
<p>
    These are the Training Grants you have participated in.  To add a new one click "Create New".  If you click "Edit" for a Training Grant, you will be able to edit the Training Grant information and enter a history of Abstracts, Manuscripts, Web Sites, or Video presentations.   
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Researchfaculty)
            </th>
            <th>
               Start date
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Trainingstartyy)
            </th> *@
            <th>
                End date
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Trainingendyy)
            </th> *@
            <th>
             Still a trainee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
               Still a trainee (other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presentations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="visibility:collapse">
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Buid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Researchfaculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainingstartmm)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Trainingstartyy)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Trainingendmm)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Trainingendyy)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Stilltrainee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statusother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presentations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
               @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
